// Include any default variable overrides here (though functions won’t be available)

$primary: #E70036;
$info: #0c47f1;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
$breadcrumb-divider: quote(">");
