{
  "database": {
    "host": <db host>,
    "port": <db port>,
    "username": <db username>,
    "password": <db password>,
    "database_name": <db db-name>
  },
  "log": {
    "max_level": <a log level>,
    "path": <a path relative to pwd>,
    "days_to_keep": <number of days (u8)>
  },
  "authorization": {
    "session_secret": <a vector of u8>,
    "dummy_bcrypt_hash": <a bcrypt hash (with default cost) of an arbitrary password>,
    "session_expiry_mins": <an integer dividing 60>
  }
}