{
  "session_secret": <Your session secret (as vec[u8]) here>,
  "dummy_bcrypt_hash": "$2a$12$2W3AcX2RnI3ZJSwrvWbar.x6FL.nK63niONl.d.mv39bTG5Ru/E9G",
  "database": {
    "host": "localhost",
    "port": 5432,
    "username": "lsf",
    "password": "lsf",
    "database_name": "lsf"
  },
  "log": {
    "max_level": "DEBUG",
    "path": "log/",
    "days_to_keep": 2
  }
}